  <!-- Footer-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Copyrights © 2017 All Rights Reserved by labelDevs.<br/></p>
          </div>
          <div class="col-sm-6">
            <div class="social-icons"><a href="#" class="footer-social"><span class="ion-social-facebook"></span></a>
              <a href="#" class="footer-social"><span class="ion-social-twitter"></span></a>
              <a href="#" class="footer-social"><span class="ion-social-pinterest"></span></a>
              <a href="#" class="footer-social"><span class="ion-social-youtube"></span></a>
              <a href="#" class="footer-social"><span class="ion-social-googleplus"></span></a>
              <a href="#" class="footer-social"><span class="ion-social-linkedin"></span></a>
            </div>
          </div>
        </div>
        <!-- /.row-->
      </div>
      <!-- /.container-->
    </footer>