    <footer class="footer dark-footer" id="footer">

        <!-- ========== footer top ========== -->
        <div class="container footer-top">
            <div class="row">

                <!-- ========== left part ========== -->
                <div class="col-md-4 vcenter">
                    <img src="/images/logo.png" alt="Salt - HTML5 theme" class="img-responsive mb20" width="100">
                    <p class="footer-desc">
                       Exceeding your expectations...
                    </p>
                </div>

                <!-- ========== right part ========== -->
                <div class="col-md-2 col-md-offset-2  col-sm-3 col-xs-6">
                    <h5 class="footer-title underline">Products</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">Wallpapers</a></li>
                        <li><a href="#" class="trans">Wall panels</a></li>
                        <li><a href="#" class="trans">Wall stickers</a></li>
                        <li><a href="#" class="trans">Wooden floor</a></li>
                        <li><a href="#" class="trans">Window blinds</a></li>
                    </ul>
                </div> <!-- end col-md-2 -->
                <div class="col-md-2  col-sm-3 col-xs-6">
                    <h5 class="footer-title underline">Services</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">Interior Decoration</a></li>
                        <li><a href="#" class="trans">Event Decoration</a></li>
                        <li><a href="#" class="trans">Cleaning Services</a></li>
                    </ul>
                </div> <!-- end col-md-2 -->
                <div class="col-md-2  col-sm-3 col-xs-6">
                    <h5 class="footer-title underline">Who We Are</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">Vision</a></li>
                        <li><a href="#" class="trans">Mission</a></li>
                        <li><a href="#" class="trans">About Us</a></li>
                    </ul>
                </div> <!-- end col-md-2 -->

            </div> <!-- end row -->
        </div> <!-- end footer-top -->

        <!-- ========== footer-middle ========== -->
        <div class="container footer-middle">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="footer-title lowercase"><i class="fa fa-phone"></i> 08184506771 | 08037522409 <span class="ml10 mr10">|</span> <i class="fa fa-envelope"></i> contact@omimz.com.ng </h6>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" class="trans pr10 pl10 "><i class="fa fa-facebook"></i></a>
                    <a href="#" class="trans pr10 pl10 "><i class="fa fa-twitter"></i></a>
                    <a href="#" class="trans pr10 pl10 "><i class="fa fa-instagram"></i></a>
                    
                </div> <!-- end col-md-6 -->
            </div> <!-- end row -->
        </div> <!-- end footer-middle -->

        <!-- ========== footer-last ========== -->
        <div class="footer-last">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        &copy; 2017 <a href='mailto:labeldevs@gmail.com'>labelDevs</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <!--<a href="#" class="mr10">Terms of Use</a> <a href="#">Privacy Policy</a>-->
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div> <!-- end footer-last -->

        <!-- ========== Scroll to top button ========== -->
        <div class="scroll-to-top trans"><i class="fa fa-angle-up"></i></div>

    </footer>