<div class="split-cover-nav">
      <div id="menuzord" class="menuzord clearfix navigationbar-animation solid">
        <a href="index.html" class="menuzord-brand">
          <h3>Brand Logo</h3>
        </a>
        <ul class="menuzord-menu menuzord-right">
          <li><a href="/">Home</a>

          </li>
          <li><a href="javascript:void(0)">Who we are:</a>
            <ul class="dropdown">
              <li><a href="#">About Us</a>
              </li>
              <li><a href="#">Vision</a></li>
              <li><a href="#">Mission</a>
              </li>
            </ul>
          </li>
          <li><a href="javascript:void(0)">Services</a>
            <ul class="dropdown">
              <li><a href="#">Interior Decors</a></li>
              <li><a href="#">Event  Decorations</a></li>
              <li><a href="#">Cleaning Services</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0)">Products</a>
            <ul class="dropdown">
              <li><a href="#">Wallpapers</a></li>
              <li><a href="#">Wall Panels</a></li>
              <li><a href="#">Wall Stickers</a></li>
              <li><a href="#">Wooden floors</a></li>
              <li><a href="#">Window Blinds</a></li>
            </ul>
          </li>
          <li><a href="/gallery">Gallery</a>
          </li>
          <li><a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>