<!-- ========== HEADER ========== -->
    <div class="header menu-style-5">

        <!-- ========== TOP BAR ========== -->
        <div class="top-menu">
            <div class="container-fluid">
                <div class="left-div pull-left">
                    <a class="" href="#">About Us</a>
                    <a class="" href="/contact">Contact Us</a>
                </div>
                <div class="right-div pull-right">
                    <a href="#">08184506771 | 08037522409</a>
                    <a href="#">contact@omimz.com.ng</a>
                    <a href="#" class=""><i class="fa fa-facebook"></i></a>
                    <a href="#" class=""><i class="fa fa-instagram"></i></a>
                </div>
                
            </div> <!-- end container-fluid -->
        </div> <!-- end top-menu -->

        <div class="container">

            <!-- ========== MENU ========== -->
            <nav class="menu">
                <div class="logo">
                    <a href="index-2.html"><img src="/images/logo.png" alt="Salt" class="logo-img"></a>
                </div> <!-- end logo -->

                <!-- ========== MAIN MENU ========== -->
                <ul class="main-menu">
                    <li class="active menu-item">
                        <a href="/"><i class="menu-icon fa fa-home"></i> Home</a>
                        <!-- Sub Menu -->
                    </li>

                    <li class="menu-item">
                        <a href="/products"><i class="menu-icon fa fa-magnet"></i> Products</a>
                        <ul class="mega-submenu no-image">
                            <li class="">
                                <a href="/products/wallpapers"><i class="fa fa-circle-o"></i> Wallpapers</a>
                            </li>
                            <li class="">
                                <a href="/products/wallpanels"><i class="fa fa-check"></i>Wall Panels</a>
                            </li>
                            <li class="">
                                <a href="/products/wallstickers"><i class="fa fa-rocket"></i>Wall Stickers</a>
                            </li>
                            <li class="">
                                <a href="/products/woodenfloors"><i class="fa fa-rocket"></i>Wooden Floors</a>
                            </li>
                           <li class="">
                                <a href="/products/windowblinds"><i class="fa fa-hashtag"></i> Window Blinds</a>
                            </li>
                            <!-- end submenu-bottom -->
                        </ul> <!-- end mega-submenu -->
                    </li> <!-- end menu-item -->

                    <li class="menu-item">
                        <a href="#"><i class="fa fa-bars"></i> Services</a>
                        <!-- Sub Menu -->
                        <ul class="mega-submenu normal-sub">
                            <li class="">
                                <a href="portfolio-mosaic.html"><i class="fa fa-hashtag"></i> Event Decorations</a>
                            </li>
                            <li class="">
                                <a href="portfolio-default.html"><i class="fa fa-circle-o"></i> Cleaning Services</a>
                            </li>
                            <li class="">
                                <a href="portfolio-4-column-style-2.html"><i class="fa fa-check"></i> Interior Decoration</a>
                            </li>
                            <!-- end has-subsubmenu -->
                        </ul> <!-- end mega-submenu -->
                    </li> <!-- end menu-item -->

                    <li class="menu-item">
                        <a href="/gallery"><i class="fa fa-diamond"></i> Gallery</a>
                        <!-- Sub Menu -->
                        <!-- end mega-submenu -->
                    </li> <!-- end menu-item -->

                    <li class="menu-item">
                        <a href="/contact"><i class="menu-icon fa fa-magic"></i> Contact Us</a>
                    </li> <!-- end menu-item -->

                    <li class="menu-item cart-icon">
                        <a href="#" class=""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="menu-item cart-icon">
                        <a href="#" class=""><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="menu-item cart-icon">
                        <a href="#" class=""><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="menu-item cart-icon">
                        <a href="#" class=""><i class="fa fa-instagram"></i></a>
                    </li>
                </ul> <!-- end main-menu -->
            </nav> <!-- end menu -->
        </div> <!-- end container-fluid -->
    </div> <!-- end header -->