<% layout('layout') -%>
    
   <% include ./partials/header %>

    <!-- ========== MAIN ========== -->
    <div class="main">

        <!-- ========== ANIMATED PAGE TITLE ========== -->
        <div class="slider-container rev_slider_wrapper">
            <div id="pageTitleHero" class="slider rev_slider pageTitleHero" data-plugin-revolution-slider data-plugin-options=''>
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-226" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off"
                        data-title="Intro">
                        <!-- MAIN IMAGE -->
                        <img src="images/bg-img-5.jpg" alt="" title="Page title" width="1920" height="980" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper" id="slide-226-layer-10" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                            data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:300;s:300;" data-start="750" data-basealign="slide" data-responsive_offset="on"
                            data-responsive="off" style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 0.40);"> </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-226-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-22','-29']" data-fontsize="['50','50','50','30']"
                            data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                            style="z-index: 7; white-space: nowrap;text-transform:left;color:#fff;">Contact Us</div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme" id="slide-226-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','28','13']" data-width="none"
                            data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;text-transform:left;color:#fff;">We would love to hear from you!</div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption NotGeneric-CallToAction rev-btn " id="slide-226-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['105','105','80','65']" data-width="none" data-fontsize="['14','14','12','12']"
                            data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                            data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1250" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                            data-responsive_offset="on" data-responsive="off" style="z-index: 9; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;color:#fff;">Contact Us </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-breadcrumb NotGeneric-SubTitle tp-resizeme hidden-xs hidden-sm" id="slide-226-layer-5" data-x="['right','right','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','middle','middle']" data-voffset="['0','0','120','80']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;text-transform:left;">
                            <ol class="breadcrumb">
                                <li><a href="#" class="trans">Home</a></li>
                                <!--<li><a href="#" class="trans">Pages</a></li>-->
                                <li><a href="/contact" class="active trans">Contact Us</a></li>
                            </ol>
                        </div> <!-- end tp-caption -->
                    </li> <!-- end slide -->
                </ul>
            </div> <!-- end pageTitleHero -->
        </div> <!-- end slider-container -->


        <!-- ========== CONTACT INFORMATION ========== -->
        <div class="row feature-type-5">
            <div class="col-md-4">
                <div class="feature-box-5">
                    <div class="icon">
                        <i class="ion-android-locate"></i>
                    </div>
                    <h5 class="feature-title">Address</h5>
                    <p class="feature-desc" style="font-size:18pt; text-align:center"><strong>Suite 11, Ada Shopping Plaza, 1A, Adeniran Ogunsanya Str. Surulere, Lagos</strong></p>
                    <i class="bg-icon ion-android-locate"></i>
                </div> <!-- end feature-box-5 -->
            </div> <!-- end col-md-3 -->
           
            <div class="col-md-4">
                <div class="feature-box-5 black-box">
                    <div class="icon">
                        <i class="ion-headphone"></i>
                    </div>
                    <h5 class="feature-title">Contact Numbers</h5>
                    <p class="feature-desc text-center" style="color:white; font-size:18pt">08184506771<br>
                        08037522409</p>
                    <i class="bg-icon ion-headphone"></i>
                </div> <!-- end feature-box-5 -->
            </div> <!-- end col-md-3 -->
            <div class="col-md-4">
                <div class="feature-box-5 ">
                    <div class="icon">
                        <i class="ion-ios-email-outline"></i>
                    </div>
                    <h5 class="feature-title">Email Ids</h5>
                    <p class="feature-desc text-center">
                            <a href="" style="color:white; font-size:18pt"><b>omimzinteriors@yahoo.co.uk</b></a><br />
                            <a href="" style="color:white; font-size:18pt"><b>contact@omimz.com.ng</b></a>
                    </p>
                    <i class="bg-icon ion-ios-email-outline"></i>
                </div> <!-- end feature-box-5 -->
            </div> <!-- end col-md-3 -->
        </div> <!-- end feature-type-5 -->

        <!-- ========== CONTACT FORM SECTION ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Drop us a line</h3>
                        <!--<p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>-->
                    </div> <!-- end section-header -->

                    <div class="col-md-6 col-md-offset-3">
                        <form class="" id="form" method="post" name="form" action="http://demo.themesease.com/salt-multi-purpose/send-email-mailgun.php">
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" class="form-control input-style-2" id="name" name="name" placeholder="Full Name" required="">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control input-style-2" id="email" name="email" placeholder="Email address" required="">
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input type="text" class="form-control input-style-2" id="subject" name="subject" placeholder="Subject" required="">
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control input-style-2" id="message" name="message" placeholder="Enter your message.." required="" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LdrSCQTAAAAAFvP5P_RHmBQreGEHEiAIR3rc8FW" data-callback="reCaptchaVerify"></div>
                            </div>

                            <button type="submit" class="st-btn primary-btn hvr-back hvr-sweep-to-right pull-right">Submit</button>
                        </form>
                    </div> <!-- end col-md-6 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== CALL TO ACTION SECTION ========== -->
        <section class="cta trans">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5 class="cta-title">Get in touch</h5>
                        <p class="cta-desc mb20">Whenever you need us or just to say hi!</p>
                        <a href="/contact" style='background-color:black' class="st-btn primary-btn full-rounded">Contact Us</a>
                    </div> <!-- end text-center -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== CLIENTS CAROUSEL ========== -->
        <section class="content-section hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="owl-carousel client-carousel">
                        <div class="text-center">
                            <img src="images/thumbnails/squares.jpg" alt="Client 1" height="150px" width="150px"/>
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/vaults.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/waves.jpg" alt="Client 1" height="150px" width="150px"/>
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/tetris.jpg" alt="Client 1" height="150px" width="150px"/>
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall1.jpg" alt="Client 1" height="150px" width="150px"/>
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall2.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall3.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall4.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall5.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                    </div> <!-- end owl-carousel -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

    </div> <!-- end main -->

    <% include ./partials/footer %>

    <!-- ========== LOADER ========== -->
    <div class="page-loader">
        <div class="spinner"></div>
    </div>
<script src="scripts/vendor.js"></script>

	<script src="scripts/plugins.js"></script>
    <script src="vendor/jquery-form/jquery.form.js"></script>
	<script src="vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="vendor/jQuery.equalHeights/jquery.equalheights.min.js"></script>

	<script src="scripts/main.js"></script>

    <script src='../../maps.googleapis.com/maps/api/js23f5?extension=.js'></script>
    <script src='../../www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript">

        // For Google ReCaptcha
        var doSubmit = false;
        function reCaptchaVerify(response) {
            if (response === document.querySelector('.g-recaptcha-response').value) {
                doSubmit = true;
            }
        }
        document.forms['form'].addEventListener('submit',function(e){
            if (doSubmit) {
                /* submit form or do something else */
            }
            else {
                e.preventDefault();
                swal("Error!", "You need to submit correct Google ReCaptcha!", "error");
            }
        });


        $(function($) {
            // For Equal Height columns
            $('.feature-box-5').equalHeights();

            // For Contact form
            var options = {
	            success: function() {
	                $("#form").clearForm();
	                swal("Thank You!", "We will get back to you as soon as possible!", "success");
	            }
	        };
	        $("#form").ajaxForm(options);

            // For Google Map
            var map = new google.maps.event.addDomListener(window, 'load', init);
            function init() {
                var mapOptions = {
                    center: new google.maps.LatLng(40.740697, -73.988786),
                    zoom: 16,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.DEFAULT,
                    },
                    disableDoubleClickZoom: true,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    },
                    scaleControl: true,
                    scrollwheel: false,
                    panControl: true,
                    streetViewControl: true,
                    draggable : true,
                    overviewMapControl: true,
                    overviewMapControlOptions: {
                        opened: false,
                    },
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    styles: [
                          {
                            "featureType": "water",
                            "elementType": "geometry.fill",
                            "stylers": [
                              { "color": "#d3d3d3" }
                            ]
                          },{
                            "featureType": "transit",
                            "stylers": [
                              { "color": "#808080" },
                              { "visibility": "off" }
                            ]
                          },{
                            "featureType": "road.highway",
                            "elementType": "geometry.stroke",
                            "stylers": [
                              { "visibility": "on" },
                              { "color": "#b3b3b3" }
                            ]
                          },{
                            "featureType": "road.highway",
                            "elementType": "geometry.fill",
                            "stylers": [
                              { "color": "#ffffff" }
                            ]
                          },{
                            "featureType": "road.local",
                            "elementType": "geometry.fill",
                            "stylers": [
                              { "visibility": "on" },
                              { "color": "#ffffff" },
                              { "weight": 1.8 }
                            ]
                          },{
                            "featureType": "road.local",
                            "elementType": "geometry.stroke",
                            "stylers": [
                              { "color": "#d7d7d7" }
                            ]
                          },{
                            "featureType": "poi",
                            "elementType": "geometry.fill",
                            "stylers": [
                              { "visibility": "on" },
                              { "color": "#ebebeb" }
                            ]
                          },{
                            "featureType": "administrative",
                            "elementType": "geometry",
                            "stylers": [
                              { "color": "#a7a7a7" }
                            ]
                          },{
                            "featureType": "road.arterial",
                            "elementType": "geometry.fill",
                            "stylers": [
                              { "color": "#ffffff" }
                            ]
                          },{
                            "featureType": "road.arterial",
                            "elementType": "geometry.fill",
                            "stylers": [
                              { "color": "#ffffff" }
                            ]
                          },{
                            "featureType": "landscape",
                            "elementType": "geometry.fill",
                            "stylers": [
                              { "visibility": "on" },
                              { "color": "#efefef" }
                            ]
                          },{
                            "featureType": "road",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              { "color": "#696969" }
                            ]
                          },{
                            "featureType": "administrative",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              { "visibility": "on" },
                              { "color": "#737373" }
                            ]
                          },{
                            "featureType": "poi",
                            "elementType": "labels.icon",
                            "stylers": [
                              { "visibility": "off" }
                            ]
                          },{
                            "featureType": "poi",
                            "elementType": "labels",
                            "stylers": [
                              { "visibility": "off" }
                            ]
                          },{
                            "featureType": "road.arterial",
                            "elementType": "geometry.stroke",
                            "stylers": [
                              { "color": "#d6d6d6" }
                            ]
                          },{
                            "featureType": "road",
                            "elementType": "labels.icon",
                            "stylers": [
                              { "visibility": "off" }
                            ]
                          },{
                          },{
                            "featureType": "poi",
                            "elementType": "geometry.fill",
                            "stylers": [
                              { "color": "#dadada" }
                            ]
                          }
                        ],
                    }
                    var mapElement = document.getElementById('fullWidthMap');
                    var map = new google.maps.Map(mapElement, mapOptions);
                    var locations = [
['Salt', 'undefined', 'undefined', 'undefined', 'undefined', 40.740697,  -73.988786, 'https://mapbuildr.com/assets/img/markers/solid-pin-black.png']
    ];
                    for (i = 0; i < locations.length; i++) {
            			if (locations[i][1] =='undefined'){ description ='';} else { description = locations[i][1];}
            			if (locations[i][2] =='undefined'){ telephone ='';} else { telephone = locations[i][2];}
            			if (locations[i][3] =='undefined'){ email ='';} else { email = locations[i][3];}
                       if (locations[i][4] =='undefined'){ web ='';} else { web = locations[i][4];}
                       if (locations[i][7] =='undefined'){ markericon ='';} else { markericon = locations[i][7];}
                        marker = new google.maps.Marker({
                            icon: markericon,
                            position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                            map: map,
                            title: locations[i][0],
                            desc: description,
                            tel: telephone,
                            email: email,
                            web: web
                        });
            link = '';     }

            }
        });
    </script>

