<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<!-- Mirrored from markup.themewagon.com/mountain_v_2.5.3/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Apr 2017 15:16:19 GMT -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  Document Title
=============================================-->
  <title>Interior Demo</title>
  <!--  Favicons
=============================================-->
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="../manifest.html">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--  Preloader
=============================================
-->
  <style>
    body main {
      opacity: 0;
      filter: alpha(opacity=0);
    }
  </style>
  <script type="text/javascript">
    paceOptions = {
      ajax: false,
      document: true,
      restartOnPushState: false,
      restartOnRequestAfter: false
    }
  </script>
  <link href="assets/lib/pace/themes/blue/pace-theme-center-simple.css" rel="stylesheet">
  <script src="assets/lib/pace/pace.min.js"></script>
  <!--  Stylesheets
=============================================
-->
  <link href="assets/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="assets/lib/Ionicons/css/ionicons.css" rel="stylesheet">
  <link href="assets/lib/animate-css/animate.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/lib/menuzord/css/menuzord.css">
  <link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="assets/css/colors/custom.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".menuzord" data-offset="60">
  <main>
    <!-- 404-->
    <section id="404" class="not-found">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 data-wow-delay="0.2s" class="wow fadeInUp">404</h1>
            <p data-wow-delay="0.1s" class="lead wow fadeInUp">Hey captain! Looks like you are heading to a wrong planet!</p><a href="/" data-wow-delay="0.3s" class="btn btn-mountain-o btn-round wow fadeInUp">Take me home</a></div>
        </div>
      </div>
    </section>
    <!-- /#404-->
  </main>

  <!--  JavaScripts
=============================================-->
  <script src="assets/lib/jquery/dist/jquery.js"></script>
  <script src="assets/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="assets/lib/jquery-easing/jquery.easing.min.js"></script>
  <script src="assets/lib/jquery.stellar/jquery.stellar.js"></script>
  <script src="assets/lib/wow/dist/wow.js"></script>
  <script src="assets/lib/menuzord/js/menuzord.js"></script>
  <script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="assets/lib/smoothscroll-for-websites/SmoothScroll.js"></script>
  <script src="assets/lib/masonry/dist/masonry.pkgd.js"></script>
  <script src="assets/lib/owl.carousel.2.1.0/owl.carousel.min.js"></script>
  <script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <!-- Please update the api key with your own key-->
  <script src="assets/js/main.js"></script>
</body>
<!-- Mirrored from markup.themewagon.com/mountain_v_2.5.3/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Apr 2017 15:16:19 GMT -->

</html>
<!--h1= message
  h2= error.status
  pre #{error.stack}-->