<% layout('layout') -%>

<% include ./partials/header %>
<!-- ========== MAIN ========== -->
    <div class="main">

        <!-- ========== PAGE TITLE ========== -->
        <br /><br />
        <section class="page-title-div gradient-bg" >
            <div class="container">
                <div class="row page-title-row">
                    <div class="col-md-6 col-sm-6">
                        <br />
                        <h1 class="page-title">Gallery</h1>
                        <p>Browse Our awesome Works</p>
                    </div> <!-- end col-md-6 -->

                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <ol class="breadcrumb pull-right border-0">
                            <li><a href="/" class="trans">Home</a></li>
                            <li><a href="/products" class="trans">Gallery</a></li>
                            <!--<li><a href="/products/wallpapers" class="active trans">Wallpapers</a></li>-->
                        </ol>
                    </div> <!-- end col-md-6 -->
                </div> <!-- end page-title-row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== PORTFOLIO ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Gallery</h3>
                        <!--<p class="section-subtitle">Load more information on ajax.</p>-->
                    </div> <!-- end section-header -->

                    <!-- ========== FILTER ========== -->
                    <div class="col-md-12">
                        <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                                All <div class="cbp-filter-counter"></div>
                            </div>
                            <div data-filter=".int" class="cbp-filter-item">
                                Interior Decorations <div class="cbp-filter-counter"></div>
                            </div>
                            <div data-filter=".eve" class="cbp-filter-item">
                                Event Decorations <div class="cbp-filter-counter"></div>
                            </div>
                            <!--<div data-filter=".wall-stickers" class="cbp-filter-item">
                                Wall Stickers <div class="cbp-filter-counter"></div>
                            </div>-->
                            <div data-filter=".cle" class="cbp-filter-item">
                                Cleaning Services <div class="cbp-filter-counter"></div>
                            </div>
                            
                        </div> <!-- end cbp-l-filters-button -->
                    </div> <!-- end col-md-12 -->
                  

                    <div class="col-md-12">
                        <div id="js-grid-juicy-projects" class="cbp">

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int2.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int3.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int4.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int5.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int6.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int7.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int8.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int8.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int9.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int9.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int10.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int10.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item int">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img class="lazy" data-original="/images/gallery/int11.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <!--<a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>-->
                                                <a href="/images/gallery/int11.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Interior Decoration">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Interior Decoration</div>
                                <!--<div class="cbp-l-grid-projects-desc">Wallpapers</div>-->
                            </div> <!-- end cbp-item -->

                            
                           

                        </div> <!-- end cbp -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FULL WIDTH CTA ========== -->
         <% include ./partials/cta %>


    </div> <!-- end main -->

  <% include ./partials/footer %>

	<script src="/scripts/vendor.js"></script>

	<script src="/scripts/plugins.js"></script>

	<script src="/scripts/main.js"></script>

    <script src="/scripts/init-portfolio-default.js"></script>
