<% layout('layout') -%>
<% include ./partials/header %>

<section id="innerheader2" style="background-image: url(assets/images/header/portfolio.jpg)" class="innerheader innerheader2">
            <div class="container">
                <div class="row pad-small">
                    <div class="col-sm-12 text-center">
                        <div class="inner-title">
                            <h3 data-wow-delay="0.1s" class="wow fadeInUp">gallery</h3>
                            <p data-wow-delay="0.2s" class="wow fadeInUp">View our different works</p>
                        </div>
                        <div data-wow-delay="0.1s" class="inner-breadcrumb wow fadeInUp">
                            <ol class="breadcrumb">
                                <li><a href="#" target="_blank">Home</a></li>
                                <!--<li><a href="#">Pages</a></li>-->
                                <li>gallery</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /#innerheader2-->
        <section id="galleryFullWidth4col" class="galleryFullWidth4col">
            <div class="container-fluid">
                <div class="row gallery-pad no-gutter">
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#1" class="inline-popup"><img src="assets/images/gallery/gallery-small/1.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Smart Headphone</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="1" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/1.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Smart Headphone</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Jhob steeb</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Receive a $60 iTunes Gift Card that can be used towards an Apple Music membership
                                                    when you buy an eligible Beats speaker or Beats headphones. Offer is
                                                    valid in Apple Retail Stores</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Canon</span></li>
                                                    <li><span>category:</span><span>Technology</span></li>
                                                    <li><span>taken:</span><span>23 May 2016</span></li>
                                                    <li><span>uploaded:</span><span>29 June 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#2" class="inline-popup"><img src="assets/images/gallery/gallery-small/2.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Debit Card Offer</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="2" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/2.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Debit Card Offer</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Paul Warburg</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Be rewarded for using your Debit card! No matter where you are, it is easy
                                                    to enjoy exclusive offers, discounts and deals by simply using your Debit
                                                    card.</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Nikon</span></li>
                                                    <li><span>category:</span><span>Banking</span></li>
                                                    <li><span>taken:</span><span>19 April 2016</span></li>
                                                    <li><span>uploaded:</span><span>19 April 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#3" class="inline-popup"><img src="assets/images/gallery/gallery-small/3.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Wooden Table</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="3" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/3.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Wooden Table</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Ray Eames</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Mini desk furniture. Mini table model for domestic work as well as restaurant
                                                    or coffee shop, wood color, rectangular oak table</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Panasonic</span></li>
                                                    <li><span>category:</span><span>Furniture</span></li>
                                                    <li><span>taken:</span><span>11 March 2016</span></li>
                                                    <li><span>uploaded:</span><span>17 March 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#4" class="inline-popup"><img src="assets/images/gallery/gallery-small/4.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Stylish MacBook Air</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="4" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/4.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Stylish MacBook Air</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Steve Jobs</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Apple's 11- and 13-inch ultra-portable MacBook Air received an update on
                                                    March 9, 2015 with Intel Broadwell processors, improved graphics, and
                                                    Thunderbolt 2 connectivity. On April 19, 2016, the base 13-inch model
                                                    was updated with 8GB RAM as a standard option.</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Canon</span></li>
                                                    <li><span>category:</span><span>Technology</span></li>
                                                    <li><span>taken:</span><span>20 March 2016</span></li>
                                                    <li><span>uploaded:</span><span>25 March 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#5" class="inline-popup"><img src="assets/images/gallery/gallery-small/5.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Retro Vintage Glass</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="5" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/5.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Retro Vintage Glass</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Clark Gable</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Each pair of eyeglasses and sunglasses is handcrafted with a vintage feel
                                                    for men and women looking for the perfect pair of retro inspired sunglasses
                                                    or glasses. Each frame features durable stainless steel hinges and CR39
                                                    or polycarbonate optical lenses.</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Fujifilm</span></li>
                                                    <li><span>category:</span><span>fashion</span></li>
                                                    <li><span>taken:</span><span>21 February 2016</span></li>
                                                    <li><span>uploaded:</span><span>27 February 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#6" class="inline-popup"><img src="assets/images/gallery/gallery-small/6.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Coffee Table</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="6" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/6.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Coffee Table</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Kalb Taylor</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Modern ivory design American style solid wood small round coffee table as
                                                    well as domestic uses, sofa side a teasideend</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Panasonic</span></li>
                                                    <li><span>category:</span><span>Furniture</span></li>
                                                    <li><span>taken:</span><span>19 January 2016</span></li>
                                                    <li><span>uploaded:</span><span>23 January 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#7" class="inline-popup"><img src="assets/images/gallery/gallery-small/7.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Hello World</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="7" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/7.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Hello World</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Jhob steeb</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Create a website that you are gonna be proud of. Be it Business</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Canon</span></li>
                                                    <li><span>category:</span><span>fashion</span></li>
                                                    <li><span>taken:</span><span>23 May 2015</span></li>
                                                    <li><span>uploaded:</span><span>29 June 2015</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#8" class="inline-popup"><img src="assets/images/gallery/gallery-small/8.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Revolutionary iMac</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                     <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#5" class="inline-popup"><img src="assets/images/gallery/gallery-small/5.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Retro Vintage Glass</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="8" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/8.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Revolutionary iMac</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Steve Jobs</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>27‑inch 5K model, it delivers such spectacular image quality that everything
                                                    else around you seems to disappear. Adding up to the most immersive iMac
                                                    experience yet — and another big, beautiful step forward.</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Nikon</span></li>
                                                    <li><span>category:</span><span>Technology</span></li>
                                                    <li><span>taken:</span><span>5 January 2016</span></li>
                                                    <li><span>uploaded:</span><span>7 January 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="5" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/5.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Retro Vintage Glass</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Clark Gable</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Each pair of eyeglasses and sunglasses is handcrafted with a vintage feel
                                                    for men and women looking for the perfect pair of retro inspired sunglasses
                                                    or glasses. Each frame features durable stainless steel hinges and CR39
                                                    or polycarbonate optical lenses.</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Fujifilm</span></li>
                                                    <li><span>category:</span><span>fashion</span></li>
                                                    <li><span>taken:</span><span>21 February 2016</span></li>
                                                    <li><span>uploaded:</span><span>27 February 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#6" class="inline-popup"><img src="assets/images/gallery/gallery-small/6.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Coffee Table</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="6" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/6.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Coffee Table</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Kalb Taylor</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Modern ivory design American style solid wood small round coffee table as
                                                    well as domestic uses, sofa side a teasideend</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Panasonic</span></li>
                                                    <li><span>category:</span><span>Furniture</span></li>
                                                    <li><span>taken:</span><span>19 January 2016</span></li>
                                                    <li><span>uploaded:</span><span>23 January 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#7" class="inline-popup"><img src="assets/images/gallery/gallery-small/7.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Hello World</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="7" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/7.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Hello World</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Jhob steeb</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>Create a website that you are gonna be proud of. Be it Business</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Canon</span></li>
                                                    <li><span>category:</span><span>fashion</span></li>
                                                    <li><span>taken:</span><span>23 May 2015</span></li>
                                                    <li><span>uploaded:</span><span>29 June 2015</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href="#8" class="inline-popup"><img src="assets/images/gallery/gallery-small/8.jpg" /></a>
                            <div class="img-caption clearfix">
                                <div class="caption-text"><span>Revolutionary iMac</span></div>
                                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
                            </div>
                        </div>
                    </div>
                    <div id="8" class="mfp-hide">
                        <div class="img-lightbox">
                            <div class="container-fluid">
                                <div class="row no-gutter">
                                    <div class="col-md-9">
                                        <div class="img-wrapper"><img src="assets/images/gallery/gallery-big/8.jpg" class="img-responsive" /></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="img-sidebar">
                                            <div class="sidebar-header">
                                                <div class="img-title">
                                                    <h4>Revolutionary iMac</h4>
                                                </div>
                                                <div class="author-meta"><span>By</span><span class="author-name"> Steve Jobs</span></div>
                                            </div>
                                            <div class="sidebar-content">
                                                <p>27‑inch 5K model, it delivers such spectacular image quality that everything
                                                    else around you seems to disappear. Adding up to the most immersive iMac
                                                    experience yet — and another big, beautiful step forward.</p>
                                            </div>
                                            <div class="img-meta">
                                                <ul>
                                                    <li><span>camera:</span><span>Nikon</span></li>
                                                    <li><span>category:</span><span>Technology</span></li>
                                                    <li><span>taken:</span><span>5 January 2016</span></li>
                                                    <li><span>uploaded:</span><span>7 January 2016</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        
                </div>
            </div>
        </section>

<% include ./partials/footer %>

