<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from demo.themesease.com/salt-multi-purpose/index-6.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Apr 2017 20:31:24 GMT -->
<head>
<!--<%= title %>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ========== VIEWPORT META ========== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- ========== PAGE TITLE ========== -->
    <title>Omimz Interiors</title>

    <!-- ========== META TAGS ========== -->
    <meta name="description" content="Omimz Interior decoration">
    <meta name="keywords" content="interior, decoration, events,cleaning, wallpapers, windows-blinds, floors">
    <meta name="author" content="labeldevs">

    <!-- ========== FAVICON & APPLE ICONS ========== -->
    <link rel="shortcut icon" href="images/logo.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- ========== MINIFIED VENDOR CSS ========== -->
    <link rel="stylesheet" href="styles/vendor.css">

    <!-- ========== MAIN CSS ========== -->
    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
</head>

<!-- ==================================================
Body: Classes
header-shadow - Set shadow for header & menu
dark-menu - Change menu to dark [Don't use with light-header]
light-header - Set light background to header [Don't use with dark-menu]
dark-header - Set dark background to header
bold-menu - For bolder links
semi-trans-header - set transparency to header [Use with 'light-header' or 'dark-header']
center-logo - Logo at center
small-header - For lesser height
nav-hidden - Open nav on icon click
================================================== -->
<body class="header-shadow">

    <!-- ========== LOADER ========== -->
    <div class="page-loader">
        <img src="images/logo.png" alt="Salt" width="160" class="logo-img logo-loader animated infinite pulse">
    </div>
    
    <!-- ========== HEADER ========== -->
    <div class="header menu-style-5">

        <!-- ========== TOP BAR ========== -->
        <div class="top-menu">
            <div class="container-fluid">
                <div class="left-div pull-left">
                    <a class="" href="#">About Us</a>
                    <a class="" href="/contact">Contact Us</a>
                </div>
                <div class="right-div pull-right">
                    <a href="#">08184506771 | 08037522409</a>
                    <a href="#">contact@omimz.com.ng</a>
                    <a href="#" class=""><i class="fa fa-facebook"></i></a>
                    <a href="#" class=""><i class="fa fa-instagram"></i></a>
                </div>
                
            </div> <!-- end container-fluid -->
        </div> <!-- end top-menu -->

        <div class="container">

            <!-- ========== MENU ========== -->
            <nav class="menu">
                <div class="logo">
                    <a href="index-2.html"><img src="images/logo.png" alt="Salt" class="logo-img"></a>
                </div> <!-- end logo -->

                <!-- ========== MAIN MENU ========== -->
                <ul class="main-menu">
                    <li class="active menu-item">
                        <a href="/"><i class="menu-icon fa fa-home"></i> Home</a>
                        <!-- Sub Menu -->
                    </li>

                    <li class="menu-item">
                        <a href="/products"><i class="menu-icon fa fa-magnet"></i> Products</a>
                        <ul class="mega-submenu no-image">
                            <li class="">
                                <a href="/products/wallpapers"><i class="fa fa-circle-o"></i> Wallpapers</a>
                            </li>
                            <li class="">
                                <a href="/products/wallpanels"><i class="fa fa-check"></i>Wall Panels</a>
                            </li>
                            <li class="">
                                <a href="/products/wallstickers"><i class="fa fa-rocket"></i>Wall Stickers</a>
                            </li>
                            <li class="">
                                <a href="/products/woodenfloors"><i class="fa fa-rocket"></i>Wooden Floors</a>
                            </li>
                           <li class="">
                                <a href="/products/windowblinds"><i class="fa fa-hashtag"></i> Window Blinds</a>
                            </li>
                            <!-- end submenu-bottom -->
                        </ul> <!-- end mega-submenu -->
                    </li> <!-- end menu-item -->

                    <li class="menu-item">
                        <a href="#"><i class="fa fa-bars"></i> Services</a>
                        <!-- Sub Menu -->
                        <ul class="mega-submenu normal-sub">
                            <li class="">
                                <a href="portfolio-mosaic.html"><i class="fa fa-hashtag"></i> Event Decorations</a>
                            </li>
                            <li class="">
                                <a href="portfolio-default.html"><i class="fa fa-circle-o"></i> Cleaning Services</a>
                            </li>
                            <li class="">
                                <a href="portfolio-4-column-style-2.html"><i class="fa fa-check"></i> Interior Decoration</a>
                            </li>
                            <!-- end has-subsubmenu -->
                        </ul> <!-- end mega-submenu -->
                    </li> <!-- end menu-item -->

                    <li class="menu-item">
                        <a href="/gallery"><i class="fa fa-diamond"></i> Gallery</a>
                        <!-- Sub Menu -->
                        <!-- end mega-submenu -->
                    </li> <!-- end menu-item -->

                    <!--<li class="menu-item">
                        <a href="#"><i class="fa fa-bars"></i> Who We Are</a>
                    
                        <ul class="mega-submenu normal-sub">
                            <li class="">
                                <a href="portfolio-mosaic.html"><i class="fa fa-hashtag"></i> Vision </a>
                            </li>
                            <li class="">
                                <a href="portfolio-default.html"><i class="fa fa-circle-o"></i> Mission </a>
                            </li>
                        
                        </ul> 
                    </li> -->

                    <li class="menu-item">
                        <a href="/contact"><i class="menu-icon fa fa-magic"></i> Contact Us</a>
                    </li> <!-- end menu-item -->

                    <li class="menu-item cart-icon">
                        <a href="#" class=""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="menu-item cart-icon">
                        <a href="#" class=""><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="menu-item cart-icon">
                        <a href="#" class=""><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="menu-item cart-icon">
                        <a href="#" class=""><i class="fa fa-instagram"></i></a>
                    </li>
                </ul> <!-- end main-menu -->
            </nav> <!-- end menu -->
        </div> <!-- end container-fluid -->
    </div> <!-- end header -->

    <!-- ========== MAIN ========== -->
    <div class="main">

        <!-- ========== SLIDER ========== -->
        <div class="slideshow-div slider-style">
            <div class="full-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Welcome to Omimz!</h1>
                            <h4 class="cursive">Get your finest piece of <span class="highlight">Interior Decors</span> and <span class="highlight">First Class Services Here</span> !</h4>
                        </div>
                    </div> <!-- end row -->
                </div> <!-- end container -->
            </div> <!-- end full-content -->
        </div> <!-- end slideshow-div -->

<!-- ========== MAIN SERVICES SECTION ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Our Services</h3>
                        <p class="section-subtitle">Event Decoration | Cleaning Services | Interior Decoration</p>
                    </div> <!-- end section-header -->

                    <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 ">
                        <div class="feature-box-9">
                            <div class="icon">
                                <i class="ion-ios-checkmark-outline"></i>
                            </div>
                            <h5 class="feature-title">Event Decoration</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-9 -->
                    </div> <!-- end col-md-4 -->

                    <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 ">
                        <div class="feature-box-9">
                            <div class="icon">
                                <i class="ion-ios-speedometer-outline"></i>
                            </div>
                            <h5 class="feature-title">Cleaning Services</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-9 -->
                    </div> <!-- end col-md-4 -->

                    <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 ">
                        <div class="feature-box-9">
                            <div class="icon">
                                <i class="ion-ios-football-outline"></i>
                            </div>
                            <h5 class="feature-title">Interior Decoration</h5>
                            <p class="feature-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div> <!-- end feature-box-9 -->
                    </div> <!-- end col-md-4 -->

                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>



        
        <!-- ========== FEATURES WITH BOXES ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center ">
                        <h3 class="section-title underline">Who We Are</h3>
                        <!--<p class="section-subtitle">Box style. Suitable for large content. </p>-->
                    </div> <!-- end section-header -->

                    <!-- ========== FEATURES ========== -->
                    <div class="col-md-6">
                        <div class="feature-box"  style="background: rgba(255,0,0, 0.1)">
                            <div class="icon">
                                <i class="ion-ios-lightbulb-outline"></i>
                            </div>
                            <h5 class="feature-title">Vision</h5>
                            <p class="feature-desc" style="color:black">It is our goal to exceed client expectations by delivering a truly transformative space that will reflect individual character and style in a constantly changing global village.

Our Specialty is in the provision of urban sophisticated aesthetic.  This will be achieved by collaboration as an integral part to delivering successful projects.

Together with you, we will work with dedicated architects, craftsmen, furniture and lighting specialists.  It is our goal to bring together the right team to deliver
 truly remarkable space making the process of designs and decors to meet your needs.</p>
                        </div> <!-- end feature-box -->
                    </div> <!-- end col-md-6 -->
                    <div class="col-md-6">
                        <div class="feature-box" style="background: rgba(255,0,0, 0.1)">
                            <div class="icon">
                                <i class="ion-ios-analytics"></i>
                            </div>
                            <h5 class="feature-title">Mission</h5>
                            <p class="feature-desc" style="color:black">OMIMZ is committed to providing exceptional designs and 
                                decorations for residential as well as commercial clients’ .
                                we are also at your service for glamorous event decorations as well as indoor and outdoor cleaning services.</p>
                                <br />
                                <!--<br />-->
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                        </div> <!-- end feature-box -->
                    </div> <!-- end col-md-6 -->
                    

                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        

         <!-- ========== PORTFOLIO SECTION ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Featured Products</h3>
                        <p class="section-subtitle">Our products in the most attractive style.</p>
                        <a href="/products" class="st-btn primary-btn full-rounded">Browse All Products</a>                        
                    </div> <!-- end section-header -->

                    <!-- ========== FILTER ========== -->
                    <div class="col-md-12">
                        <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                                All <div class="cbp-filter-counter"></div>
                            </div>
                            <div data-filter=".wallpapers" class="cbp-filter-item">
                                Wallpapers <div class="cbp-filter-counter"></div>
                            </div>
                            <div data-filter=".wall-panels" class="cbp-filter-item">
                                Wall Panels <div class="cbp-filter-counter"></div>
                            </div>
                            <!--<div data-filter=".wall-stickers" class="cbp-filter-item">
                                Wall Stickers <div class="cbp-filter-counter"></div>
                            </div>-->
                            <div data-filter=".wooden-floor" class="cbp-filter-item">
                                Wooden Floors <div class="cbp-filter-counter"></div>
                            </div>
                            <div data-filter=".windows-blind" class="cbp-filter-item">
                                Windows Blind <div class="cbp-filter-counter"></div>
                            </div>
                        </div> <!-- end cbp-l-filters-button -->
                    </div> <!-- end col-md-12 -->



                    <div class="col-md-12 ">
                        <div id="js-grid-juicy-projects" class="cbp">
                            
                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item windows-blind">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/portfolio/blinds/bld1.jpg" height='570px' width='696px' alt="">                                       
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/blinds/bld1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Windows Blind</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/wall10/w3.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class=" cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/wall10/w3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->
                            
                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/wall10/w1.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class=" cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/wall10/w1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item windows-blind">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/blinds/bld2.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class=" cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/blinds/bld2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Windows Blind</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item windows-blind">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/blinds/bld3.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class=" cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/blinds/bld3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Windows Blind</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item windows-blind">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/blinds/bld4.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class=" cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/blinds/bld4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Windows Blind</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item wooden-floor">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/floor/fl1.png" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class=" cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/floor/fl1.png" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floor</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item wooden-floor">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/floor/fl2.png" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class=" cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/floor/fl2.png" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floor</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item wooden-floor">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/floor/fl3.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class=" cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/floor/fl3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floor</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/wall1/wl1.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/wall1/wl1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Product Code</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/3dwallpanels/squares.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/3dwallpanels/squares.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Squares</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <!-- ========== PORTFOLIO ITEM ========== -->                            
                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/3dwallpanels/vaults.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/3dwallpanels/vaults.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Vaults</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panels</div>
                            </div> <!-- end cbp-item -->

                            
                           
                        </div> <!-- end js-grid-mosaic -->
                    </div> <!-- end port-items -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== CALL TO ACTION SECTION ========== -->
        <section class="cta trans">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5 class="cta-title">Get in touch</h5>
                        <p class="cta-desc mb20">Whenever you need us or just to say hi!</p>
                        <a href="/contact" style='background-color:black' class="st-btn primary-btn full-rounded">Contact Us</a>
                    </div> <!-- end text-center -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== CLIENTS CAROUSEL ========== -->
        <section class="content-section hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="owl-carousel client-carousel">
                        <div class="text-center">
                            <img src="images/thumbnails/squares.jpg" alt="Client 1" height="150px" width="150px"/>
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/vaults.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/waves.jpg" alt="Client 1" height="150px" width="150px"/>
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/tetris.jpg" alt="Client 1" height="150px" width="150px"/>
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall1.jpg" alt="Client 1" height="150px" width="150px"/>
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall2.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall3.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall4.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                        <div class="text-center">
                            <img src="images/thumbnails/wall5.jpg" alt="Client 1" height="150px" width="150px" />
                        </div>
                    </div> <!-- end owl-carousel -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

    </div> <!-- end main -->

    <!-- ==================================================
    Footer: Classes
    footer - Default footer
    dark-footer - Dark footer [Use with .footer]
    sticky-footer - Reveal footer on scroll
    ================================================== -->
    <footer class="footer dark-footer" id="footer">

        <!-- ========== footer top ========== -->
        <div class="container footer-top">
            <div class="row">

                <!-- ========== left part ========== -->
                <div class="col-md-4 vcenter">
                    <img src="images/logo.png" alt="Salt - HTML5 theme" class="img-responsive mb20" width="100">
                    <p class="footer-desc">
                       Exceeding your expectations...
                    </p>
                </div>

                <!-- ========== right part ========== -->
                <div class="col-md-2 col-md-offset-2  col-sm-3 col-xs-6">
                    <h5 class="footer-title underline">Products</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">Wallpapers</a></li>
                        <li><a href="#" class="trans">Wall panels</a></li>
                        <li><a href="#" class="trans">Wall stickers</a></li>
                        <li><a href="#" class="trans">Wooden floor</a></li>
                        <li><a href="#" class="trans">Window blinds</a></li>
                    </ul>
                </div> <!-- end col-md-2 -->
                <div class="col-md-2  col-sm-3 col-xs-6">
                    <h5 class="footer-title underline">Services</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">Interior Decoration</a></li>
                        <li><a href="#" class="trans">Event Decoration</a></li>
                        <li><a href="#" class="trans">Cleaning Services</a></li>
                    </ul>
                </div> <!-- end col-md-2 -->
                <div class="col-md-2  col-sm-3 col-xs-6">
                    <h5 class="footer-title underline">Who We Are</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">Vision</a></li>
                        <li><a href="#" class="trans">Mission</a></li>
                        <li><a href="#" class="trans">About Us</a></li>
                    </ul>
                </div> <!-- end col-md-2 -->

            </div> <!-- end row -->
        </div> <!-- end footer-top -->

        <!-- ========== footer-middle ========== -->
        <div class="container footer-middle">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="footer-title lowercase"><i class="fa fa-phone"></i> 08184506771 | 08037522409 <span class="ml10 mr10">|</span> <i class="fa fa-envelope"></i> contact@omimz.com.ng </h6>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" class="trans pr10 pl10 "><i class="fa fa-facebook"></i></a>
                    <a href="#" class="trans pr10 pl10 "><i class="fa fa-twitter"></i></a>
                    <a href="#" class="trans pr10 pl10 "><i class="fa fa-instagram"></i></a>
                    
                </div> <!-- end col-md-6 -->
            </div> <!-- end row -->
        </div> <!-- end footer-middle -->

        <!-- ========== footer-last ========== -->
        <div class="footer-last">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        &copy; 2017 <a href='mailto:labeldevs@gmail.com'>labelDevs</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <!--<a href="#" class="mr10">Terms of Use</a> <a href="#">Privacy Policy</a>-->
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div> <!-- end footer-last -->

        <!-- ========== Scroll to top button ========== -->
        <div class="scroll-to-top trans"><i class="fa fa-angle-up"></i></div>

    </footer>

    

	<script src="scripts/vendor.js"></script>

	<script src="scripts/plugins.js"></script>

    <script src="vendor/backstretch/jquery.backstretch.min.js"></script>

	<script src="scripts/main.js"></script>

    <script src="scripts/init-cube-home-2.js"></script>

    <script src="scripts/init-slider-4.js"></script>

    <!--<script src="scripts/init-portfolio-default-no-gutter.js"></script>-->
    
    <script src="scripts/init-portfolio-style-2-col-3.js"></script>

    <script src="scripts/init-portfolio-default.js"></script>

      <script type="text/javascript">
        $(function($) {
            $("#word-rotate-head").Morphext({
                animation: "fadeIn",
                separator: ",",
                speed: 3500
            });
        });
    </script>

    
    
</body>


</html>
