<% layout('layout') -%>

  <main>
    <% include ./partials/header %>
    <section id="splitHeader" class="split-header">
      <div class="col-md-6 col-sm-6 pos-left">
        <div style="background-image:url(assets/images/header/split-header.jpg)" class="bg-img-container"></div>
      </div>
      <div class="col-md-6 col-sm-6 pos-right">
        <div class="splitheader-content">
          <h4 data-wow-delay="0.2s" class="wow fadeInUp">Brand Name</h4>
          <h1 data-wow-delay="0.4s" class="wow fadeInUp"></h1>
          <p data-wow-delay="0.6s" class="wow fadeInUp">We are commited to providing exceptional design and decor for you</p><a data-wow-delay="0.8s" href="/gallery" class="wow fadeInUp btn btn-mountain-flat btn-round">View Our Products</a></div>
      </div>
    </section>
    <section class="about-us-bigbg-wrap aboutUsImageRight">
      <div class="row">
        <div class="col-sm-6 content text-right">
          <div class="content-wrap">
            <h3 data-wow-delay="0.2s" class="wow fadeInUp">Simplicity is the ultimate shopistication</h3>
            <p data-wow-delay="0.4s" class="wow fadeInUp">Brand Name assures your Interior Design / Decor the attention it deserves, regardless of if it is your Business, Office, Bedroom or anywhere else.</p><a data-wow-delay="0.6s" href="#" class="btn btn-mountain-flat btn-round wow fadeInUp">View Services</a></div>
        </div>
        <div class="col-sm-6 col-sm-offaet-6 bg-image-wrap">
          <div style="background-image:url(assets/images/gallery/fly.jpg)" class="bg-image"></div>
        </div>
      </div>
    </section>
    <section id="galleryMasonry1" class="galleryMasonry1 section">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="title-subtitle text-center">
              <h2>Most Popular Works</h2>
              <!--<p> Mountain fashion house For Men, Women and Kids</p>-->
            </div>
          </div>
        </div>
        <div class="gallery-grid-masonry">
          <div class="grid-sizer"></div>
          <div class="gallery-grid-item grid-item-2x">
            <div class="grid-item-wrap">
              <a href="assets/images/gallery/masonry/1.jpg" title="hello world" class="gallery-popup"><img src="assets/images/gallery/masonry/1.jpg" class="img-responsive" /></a>
              <div class="img-caption clearfix">
                <div class="caption-text"><span></span></div>
                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
              </div>
            </div>
          </div>
          <div class="gallery-grid-item grid-item-2x">
            <div class="grid-item-wrap">
              <a href="assets/images/gallery/masonry/2.jpg" class="gallery-popup"><img src="assets/images/gallery/masonry/2.jpg" class="img-responsive" /></a>
              <div class="img-caption clearfix">
                <div class="caption-text"><span>Product Name</span></div>
                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
              </div>
            </div>
          </div>
          <div class="gallery-grid-item">
            <div class="grid-item-wrap">
              <a href="assets/images/gallery/masonry/4.jpg" class="gallery-popup"><img src="assets/images/gallery/masonry/4.jpg" class="img-responsive" /></a>
              <div class="img-caption clearfix">
                <div class="caption-text"><span>Product Name</span></div>
                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
              </div>
            </div>
          </div>
          <div class="gallery-grid-item grid-item-2x">
            <div class="grid-item-wrap grid-item-2x">
              <a href="assets/images/gallery/masonry/3.jpg" class="gallery-popup"><img src="assets/images/gallery/masonry/3.jpg" class="img-responsive" /></a>
              <div class="img-caption clearfix">
                <div class="caption-text"><span>Product Name</span></div>
                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
              </div>
            </div>
          </div>
          <div class="gallery-grid-item">
            <div class="grid-item-wrap">
              <a href="assets/images/gallery/masonry/5.jpg" class="gallery-popup"><img src="assets/images/gallery/masonry/5.jpg" class="img-responsive" /></a>
              <div class="img-caption clearfix">
                <div class="caption-text"><span>Product Name</span></div>
                <div class="caption-social"><span><a href="#"><i class="ion-social-facebook"></i></a></span><span><a href="#"><i class="ion-social-twitter"></i></a></span><span><a href="#"><i class="ion-social-pinterest"></i></a></span><span><a href="#"><i class="ion-social-googleplus-outline"></i></a></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% include ./partials/footer %>
  </main>
 