<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from demo.themesease.com/salt-multi-purpose/index-6.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Apr 2017 20:31:24 GMT -->
<head>
<!--<%= title %>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ========== VIEWPORT META ========== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- ========== PAGE TITLE ========== -->
    <title>Omimz Interiors</title>

    <!-- ========== META TAGS ========== -->
    <meta name="description" content="Omimz Interior decoration">
    <meta name="keywords" content="interior, decoration, events,cleaning, wallpapers, windows-blinds, floors">
    <meta name="author" content="labeldevs">

    <!-- ========== FAVICON & APPLE ICONS ========== -->
    <link rel="shortcut icon" href="/images/logo.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- ========== MINIFIED VENDOR CSS ========== -->
    <link rel="stylesheet" href="/styles/vendor.css">

    <!-- ========== MAIN CSS ========== -->
    <link rel="stylesheet" href="/styles/main.css">

    <script src="/scripts/vendor/modernizr.js"></script>
</head>

<body class="header-shadow">

    <!-- ========== LOADER ========== -->
    <div class="page-loader">
        <img src="/images/logo.png" alt="Salt" width="160" class="logo-img logo-loader animated infinite pulse">
    </div>

    <%- body -%>

    <script src="/scripts/jquery.lazyload.min.js"></script>
    <script>
        $(function(){
            $("img.lazy").lazyload();
        })
    </script>
</body>