<% layout('layout') -%>

<% include ../partials/header %>
<!-- ========== MAIN ========== -->
    <div class="main">

        <!-- ========== PAGE TITLE ========== -->
        <br /><br />
        <section class="page-title-div gradient-bg" >
            <div class="container">
                <div class="row page-title-row">
                    <div class="col-md-6 col-sm-6">
                        <br />
                        <h1 class="page-title">Wall Panels</h1>
                        <p>Browse Our awesome Wall Panels</p>
                    </div> <!-- end col-md-6 -->

                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <ol class="breadcrumb pull-right border-0">
                            <li><a href="/" class="trans">Home</a></li>
                            <li><a href="/products" class="trans">Products</a></li>
                            <li><a href="/products/wallpanels" class="active trans">Wall Panels</a></li>
                        </ol>
                    </div> <!-- end col-md-6 -->  
                </div> <!-- end page-title-row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== PORTFOLIO ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Wall Panels</h3>
                        <!--<p class="section-subtitle">Load more information on ajax.</p>-->
                    </div> <!-- end section-header -->

                  

                    <div class="col-md-12">
                        <div id="js-grid-juicy-projects" class="cbp">


                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/BRICKS.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/BRICKS.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">BRICKS</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/CULLINANS.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/CULLINANS.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">CULLINANS</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/ELLIPSES.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/ELLIPSES.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">ELLIPSES</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/FAKTUM1.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/FAKTUM1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">FAKTUM</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl001.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl001.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL001</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl002.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl002.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL002</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl003.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl003.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL003</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl004.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl004.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL004</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl005.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl005.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL005</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl006.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl006.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL006</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl007.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl007.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL007</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl008.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl008.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL008</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl009.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl009.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL009</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl010.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl010.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL010</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl011.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl011.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL011</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl012.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl012.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL012</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl013.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl013.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL013</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl014.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl014.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL014</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl015.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl015.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL015</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                             <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpl/wpl016.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpl/wpl016.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bricks | Wall Panels">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">WPL016</div>
                                <div class="cbp-l-grid-projects-desc">Wall Panel</div>
                            </div>

                            
                          

                        </div> <!-- end cbp -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FULL WIDTH CTA ========== -->
        <section class="cta trans">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5 class="cta-title">Get in touch</h5>
                        <p class="cta-desc mb20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <a href="/pages-contact-us-1.html" class="st-btn primary-btn full-rounded">Contact Us</a>
                    </div> <!-- end text-center -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

    </div> <!-- end main -->

  <% include ../partials/footer %>

	<script src="/scripts/vendor.js"></script>

	<script src="/scripts/plugins.js"></script>

	<script src="/scripts/main.js"></script>

    <script src="/scripts/init-portfolio-default.js"></script>
