<% layout('layout') -%>

<% include ../partials/header %>
<!-- ========== MAIN ========== -->
    <div class="main">

        <!-- ========== PAGE TITLE ========== -->
        <br /><br />
        <section class="page-title-div gradient-bg" >
            <div class="container">
                <div class="row page-title-row">
                    <div class="col-md-6 col-sm-6">
                        <br />
                        <h1 class="page-title">Wallpapers</h1>
                        <p>Browse Our awesome Wallpapers</p>
                    </div> <!-- end col-md-6 -->

                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <ol class="breadcrumb pull-right border-0">
                            <li><a href="/" class="trans">Home</a></li>
                            <li><a href="/products" class="trans">Products</a></li>
                            <li><a href="/products/wallpapers" class="active trans">Wallpapers</a></li>
                        </ol>
                    </div> <!-- end col-md-6 -->
                </div> <!-- end page-title-row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== PORTFOLIO ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Wallpapers</h3>
                        <!--<p class="section-subtitle">Load more information on ajax.</p>-->
                    </div> <!-- end section-header -->

                  

                    <div class="col-md-12">
                        <div id="js-grid-juicy-projects" class="cbp">

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM1101.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM1101.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM1101</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM6002K.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM6002K.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM6002K</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM6003K.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM6003K.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM6003K</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM6004K.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM6004K.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM6004K</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM6006K.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM6006K.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM6006K</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM6015K.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM6015K.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM6015K</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM6028K.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM6028K.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM6028K</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM20104.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM20104.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM20104</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM20107.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM20107.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM20107</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM158136.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM158136.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM158136</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM210101.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM210101.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM210101</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM1122002.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM1122002.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM1122002</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM1122005.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM1122005.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM1122005</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM1122006.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM1122006.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM1122006</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM1122053.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM1122053.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM1122053</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM1122055.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM1122055.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM1122055</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM1122056.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM1122056.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM1122056</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/OM1190801.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/OM1190801.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">OM1190801</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/20161008_104815-1.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/20161008_104815-1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">wallpaper</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wallpapers">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wpp/20161008_104823-1.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wpp/20161008_104823-1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="OM1101 | Wallpaper">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">wallpaper</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                           

                        </div> <!-- end cbp -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FULL WIDTH CTA ========== -->
        <section class="cta trans">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5 class="cta-title">Get in touch</h5>
                        <p class="cta-desc mb20">Whenever you need us or just to say hi!</p>
                        <a href="/contact" style='background-color:black' class="st-btn primary-btn full-rounded">Contact Us</a>
                    </div> <!-- end text-center -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

    </div> <!-- end main -->

  <% include ../partials/footer %>

	<script src="/scripts/vendor.js"></script>

	<script src="/scripts/plugins.js"></script>

	<script src="/scripts/main.js"></script>

    <script src="/scripts/init-portfolio-default.js"></script>
