<% layout('layout') -%>

<% include ../partials/header %>
<!-- ========== MAIN ========== -->
    <div class="main">

        <!-- ========== PAGE TITLE ========== -->
        <br /><br />
        <section class="page-title-div gradient-bg" >
            <div class="container">
                <div class="row page-title-row">
                    <div class="col-md-6 col-sm-6">
                        <br />
                        <h1 class="page-title">Wallpapers</h1>
                        <p>Browse Our awesome Wallpapers</p>
                    </div> <!-- end col-md-6 -->

                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <ol class="breadcrumb pull-right border-0">
                            <li><a href="/" class="trans">Home</a></li>
                            <li><a href="/products" class="trans">Products</a></li>
                            <li><a href="/products/wallpapers" class="active trans">Wallpapers</a></li>
                        </ol>
                    </div> <!-- end col-md-6 -->
                </div> <!-- end page-title-row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== PORTFOLIO ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Wallpapers</h3>
                        <!--<p class="section-subtitle">Load more information on ajax.</p>-->
                    </div> <!-- end section-header -->

                  

                    <div class="col-md-12">
                        <div id="js-grid-juicy-projects" class="cbp">
                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="images/portfolio/3dwallpanels/squares.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="images/portfolio/3dwallpanels/squares.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Squares</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/portfolio/3dwallpanels/squares.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/portfolio/3dwallpanels/squares.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Squares</div>
                                <div class="cbp-l-grid-projects-desc">Wallpapers</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item graphic logos">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/03.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project3.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="/http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="To-Do Dashboard<br>by Tiberiu Neamu">view video</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">To-Do Dashboard</div>
                                <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item web-design graphic">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/04.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project4.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/4900333&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Events and  More<br>by Tiberiu Neamu">view sound</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Events and More</div>
                                <div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>
                            </div> <!-- end cbp-item -->
                            
                            <div class="cbp-item identity web-design">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/07.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project6.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="/images/portfolio/380-360/07.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Ski * Buddy<br>by Tiberiu Neamu">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Ski * Buddy</div>
                                <div class="cbp-l-grid-projects-desc">Identity / Web Design</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item identity web-design">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/07.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project6.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="/images/portfolio/380-360/07.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Ski * Buddy<br>by Tiberiu Neamu">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Ski * Buddy</div>
                                <div class="cbp-l-grid-projects-desc">Identity / Web Design</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item graphic logos">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/08.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project7.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="/images/portfolio/380-360/08.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Seemple* Music for iPad</div>
                                <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item identity graphic">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/09.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project8.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="/http://www.youtube.com/watch?v=Bu9OiDmxCrQ" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Remind~Me More<br>by Tiberiu Neamu">view video</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Remind~Me More</div>
                                <div class="cbp-l-grid-projects-desc">Identity / Graphic</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item web-design graphic">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/03.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project9.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="/https://www.ted.com/talks/andrew_bastawrous_get_your_next_eye_exam_on_a_smartphone" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Workout Buddy<br>by Tiberiu Neamu">view video</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Workout Buddy</div>
                                <div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item identity web-design">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/01.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="/https://www.youtube.com/watch?v=3wbvpOIIBQA" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bills Bills Bills<br>by Cosmin Capitanu">view video</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Bills Bills Bills</div>
                                <div class="cbp-l-grid-projects-desc">Identity / Web Design</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item identity logos">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/06.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="/images/portfolio/380-360/06.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Generic Apps<br>by Cosmin Capitanu">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Generic Apps</div>
                                <div class="cbp-l-grid-projects-desc">Identity / Logo</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item graphic web-design">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/images/portfolio/380-360/02.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/ajax-portfolio/project3.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                                                <a href="/https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/26519543&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Speed Detector<br>by Cosmin Capitanu">view sound</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Speed Detector</div>
                                <div class="cbp-l-grid-projects-desc">Graphic / Web Design</div>
                            </div> <!-- end cbp-item -->

                        </div> <!-- end cbp -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FULL WIDTH CTA ========== -->
        <section class="cta trans">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5 class="cta-title">Get in touch</h5>
                        <p class="cta-desc mb20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <a href="/pages-contact-us-1.html" class="st-btn primary-btn full-rounded">Contact Us</a>
                    </div> <!-- end text-center -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

    </div> <!-- end main -->

  <% include ../partials/footer %>

	<script src="/scripts/vendor.js"></script>

	<script src="/scripts/plugins.js"></script>

	<script src="/scripts/main.js"></script>

    <script src="/scripts/init-portfolio-default.js"></script>
