<% layout('layout') -%>

<% include ../partials/header %>
<!-- ========== MAIN ========== -->
    <div class="main">

        <!-- ========== PAGE TITLE ========== -->
        <br /><br />
        <section class="page-title-div gradient-bg" >
            <div class="container">
                <div class="row page-title-row">
                    <div class="col-md-6 col-sm-6">
                        <br />
                        <h1 class="page-title">Window Blinds</h1>
                        <p>Browse Our awesome Window Blinds</p>
                    </div> <!-- end col-md-6 -->

                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <ol class="breadcrumb pull-right border-0">
                            <li><a href="/" class="trans">Home</a></li>
                            <li><a href="/products" class="trans">Products</a></li>
                            <li><a href="/products/windowblinds" class="active trans">Window Blinds</a></li>
                        </ol>
                    </div> <!-- end col-md-6 -->
                </div> <!-- end page-title-row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== PORTFOLIO ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Window Blinds</h3>
                        <!--<p class="section-subtitle">Load more information on ajax.</p>-->
                    </div> <!-- end section-header -->

                  

                    <div class="col-md-12">
                        <div id="js-grid-juicy-projects" class="cbp">

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wb/blinds001.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wb/blinds001.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Blinds-001</div>
                                <div class="cbp-l-grid-projects-desc">Window Blinds</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wb/blinds002.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wb/blinds002.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Blinds-002</div>
                                <div class="cbp-l-grid-projects-desc">Window Blinds</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wb/blinds003.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wb/blinds003.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Blinds-003</div>
                                <div class="cbp-l-grid-projects-desc">Window Blinds</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wb/blinds004.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wb/blinds004.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Blinds-004</div>
                                <div class="cbp-l-grid-projects-desc">Window Blinds</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wb/blinds005.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wb/blinds005.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Blinds-005</div>
                                <div class="cbp-l-grid-projects-desc">Window Blinds</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wb/blinds006.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wb/blinds006.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Blinds-006</div>
                                <div class="cbp-l-grid-projects-desc">Window Blinds</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wb/blinds007.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wb/blinds007.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Blinds-007</div>
                                <div class="cbp-l-grid-projects-desc">Window Blinds</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wb/blinds008.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wb/blinds008.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Blinds-008</div>
                                <div class="cbp-l-grid-projects-desc">Window Blinds</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wb/blinds009.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wb/blinds009.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">Blinds-009</div>
                                <div class="cbp-l-grid-projects-desc">Window Blinds</div>
                            </div> <!-- end cbp-item -->


                        </div> <!-- end cbp -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FULL WIDTH CTA ========== -->
         <% include ../partials/cta %>


    </div> <!-- end main -->

  <% include ../partials/footer %>

	<script src="/scripts/vendor.js"></script>

	<script src="/scripts/plugins.js"></script>

	<script src="/scripts/main.js"></script>

    <script src="/scripts/init-portfolio-default.js"></script>
