<% layout('layout') -%>

<% include ../partials/header %>
<!-- ========== MAIN ========== -->
    <div class="main">

        <!-- ========== PAGE TITLE ========== -->
        <br /><br />
        <section class="page-title-div gradient-bg" >
            <div class="container">
                <div class="row page-title-row">
                    <div class="col-md-6 col-sm-6">
                        <br />
                        <h1 class="page-title">Wooden Floors</h1>
                        <p>Browse Our awesome Wooden Floors</p>
                    </div> <!-- end col-md-6 -->

                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <ol class="breadcrumb pull-right border-0">
                            <li><a href="/" class="trans">Home</a></li>
                            <li><a href="/products" class="trans">Products</a></li>
                            <li><a href="/products/woodenfloors" class="active trans">Wooden Floors</a></li>
                        </ol>
                    </div> <!-- end col-md-6 -->
                </div> <!-- end page-title-row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== PORTFOLIO ========== -->
        <section class="content-section">
            <div class="container">
                <div class="row">

                    <!-- ========== SECTION HEADER ========== -->
                    <div class="col-md-12 section-header text-center">
                        <h3 class="section-title underline">Wooden Floors</h3>
                        <!--<p class="section-subtitle">Load more information on ajax.</p>-->
                    </div> <!-- end section-header -->

                  

                    <div class="col-md-12">
                        <div id="js-grid-juicy-projects" class="cbp">


                            <div class="cbp-item wooden-floors">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF001.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF001.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF001</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF002.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF002.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF002</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF003.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF003.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF003</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF004.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF004.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF004</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF005.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF005.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF005</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF006.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF006.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF006</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF007.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF007.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF007</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF008.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF008.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF008</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF009.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF009.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF009</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/LF010.jpg" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/LF010.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">LF010</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/highglossyfloor.png" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/highglossyfloor.png" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">highglossyfloor</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                            <div class="cbp-item wall-panels">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                       <img src="/images/products/wf/highglossyfloor2.png" alt="">         
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="/contact" class="cbp-singlePag cbp-l-caption-buttonLeft" rel="nofollow">Get Product</a>
                                                <a href="/images/products/wf/highglossyfloor2.png" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Blinds 001 | Window Blinds">view larger</a>
                                            </div> <!-- end cbp-l-caption-body -->
                                        </div> <!-- end cbp-l-caption-alignCenter -->
                                    </div> <!-- end cbp-caption-activeWrap -->
                                </div> <!-- end cbp-caption -->
                                <div class="cbp-l-grid-projects-title">highglossyfloor2</div>
                                <div class="cbp-l-grid-projects-desc">Wooden Floors</div>
                            </div> <!-- end cbp-item -->

                      
                        </div> <!-- end cbp -->
                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FULL WIDTH CTA ========== -->
                 <% include ../partials/cta %>


    </div> <!-- end main -->

  <% include ../partials/footer %>

	<script src="/scripts/vendor.js"></script>

	<script src="/scripts/plugins.js"></script>

	<script src="/scripts/main.js"></script>

    <script src="/scripts/init-portfolio-default.js"></script>
